root {
  --bg-color: #eeeeee;
  --main-text: black;
  --highlight-color: #313131;
  --highlight-text: white;
  --content-width: 250px;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width: 100%;
}

/* Portrait layout (default) */
.app {
    position: absolute;             /* position in the center of the screen */
    left: 50%;
    top: 70%;
    height: 50px;                   /* content area height */
    width: var(--width);                   /* text area width */
    text-align: absolute;
    padding: 170px 0px 0px 0px;     /* image height is 170px */
    margin: -115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow: visible;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-align: center;
  overflow: visible;
}

.bottomBar {
  height: 70px;
  width: var(--content-width);
  align: left;
  text-align: center;
}

/*todo*/
.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

#caseFormPopup {
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  width: 73%;
  text-align: center;
  display: none;
  position: fixed;
  overflow: auto;
  padding: 0px 50px;
  background-color: #eee /*var(--bg-color);*/
}

.caseFormPopupHeader {
  width: 100%;
  margin-bottom: 50px
  position: fixed;
  /*background: #9933cc;*/
  background: #313131 /*var(--highlight-color);*/
  color: var(--highlight-text);
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 50px
}
