root {
  --bg-color: #eeeeee;
  --main-text: black;
  --highlight-color: #313131;
  --highlight-text: white;
  --content-width: 250px;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Portrait layout */
.app {
    position: absolute;
    left: 50%;
    top: 70%;
    height: 50px;
    width: 250px;
    padding: 170px 0px 0px 0px;     /* content height is 170px */
    margin: -115px 0px 0px -112px;  /* offset vertical: half of content height */
                                   /* offset horizontal: half of content width */
}

/* Landscape layout */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        overflow: hidden;
        background-position: left center;
        padding: 75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = content height */
        margin: -90px 0px 0px -198px;  /* offset vertical: half of content height */
                                      /* offset horizontal: half of content width */
    }
}

table {
  margin: 0px;
  font-size: 13px;
  padding: 13px;
}

th {
  background-color: #eee;
  max-width: 100%;
}

td {
  background-color: #ddd;
  max-width: 50%;
}

button {
  font-size: 15px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 2px;
}

textarea {
  height: 100px;
}

.header {
  position: fixed;
}

.headerText {
  height: 40px;
  line-height: 40px;
  width: 70%;
  color: white !important;
  text-shadow: 0 0 2px black;
  margin: 0 0 0 60px;
  padding: 0px;
  vertical-align: middle;
  font-size: 22px;
  background: rgba(255, 255, 255, 0);
  border: 0px solid;
}

.bottomBar {
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.popup {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: auto;
  display: none;
  border-radius: 0px;
}

.popupBody {
  left: 0px;
  height: 100vh;
  width: 72vw;
  padding: 15px 50px;
  margin: 40px 0px;
  position: fixed;
  overflow: scroll;
  border-radius: 5px;
  background-color: #eee
}

#leftPanel {
  background-color: #9933cc;
}

#caseFormPopup {
  background-color: #6666ff;
}

#gearFormPopup {
  background-color: #ff6666 
}

